.body {
    margin: 0;
    overflow-x: hidden;
}

.nav {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    transform: translateX(-350px);
}

.nav-open

.nav-close {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 15px 25px;
    color: #dddddd;
    cursor: pointer;

}

.nav-open .nav {
    transform: translateX(0);
}