.favoriteBackground {
    /*padding: 3rem 0 3rem 0;*/
    margin: 0;
    padding: 3rem;
    /*background: url("../img/favoriteBackground.jpg") no-repeat;*/
    min-height: 50vh;

}

.favoriteModule {
    opacity: 0.9;
    width: 70%;
    color: #686868;
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    padding: 0;
}

h1 {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #9F9F9F;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

.favorites-row {
    color: #686868;
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
}

.list-group {
    padding: 0 3rem 3rem 3rem;
}

.list-group .list-group-item:hover {
    background: #01C5FF;
}

.list-group .list-group-item-light.active {
    background: #01C5FF;
}

.list-group .list-group-item-secondary.active {
    background: #01C5FF;
}

@media screen and (max-width:768px) {
    .background {
        width: 100%;
        margin: auto;
    }
}
