.menu-button {
    color: white;
    font-family: sans-serif;
}

.navbar-body {
    background-color: #01C5FF !important;
    width: 15%;
    color: white;
    text-align: center;
}

.navLinkBody {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.navLinks {
    background-color: #01C5FF !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: large;
    color: #006f91;
}

.navLinks:hover {
    background-color: #0066aa !important;
    color: white;
}

.navLinks:active {
    background-color: #00485e !important;
}

@media screen and (max-width:2160px) {
    .navbar-body {
        width: 15%;
    }
}
@media screen and (max-width:1180px) {
    .navbar-body {
        width: 25%;
    }
}
@media screen and (max-width:768px) {
    .navbar-body {
        width: 40%;
    }
}
@media screen and (max-width:468px) {
    .navbar-body {
        width: 60%;
    }
}
@media screen and (max-width:268px) {
    .navbar-body {
        width: 100%;
    }
}