.formContainer {
    margin: 5rem;
    opacity: 0.9;
    padding: 3rem;
}

.uploadText {
    color: white;
}

.uploadBackgroundImage {
    background: url("../../img/Mtns.jpg") no-repeat ;
    min-height: 100vh;
}

.selectedImage {
    max-width: 45vw;
}